<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page acceuil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="page.css">
    <link rel="stylesheet" type="text/css" href="css/mdb.dark.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mdb.dark.rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mdb.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="css/mdb.rtl.min.css" />
	  <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.css' %}" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" />
	  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.rtl.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.rtl.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css" />
	  <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.rtl.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.rtl.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-utilities.css" />
	  <link rel="stylesheet" type="text/css" href="css/bootstrap-utilities.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-utilities.rtl.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-utilities.rtl.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mdb.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="css/mdb.rtl.min.css" />
	  <link rel="stylesheet" type="text/css" href="css/styles.css">
	  <script src="js/mdb.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.esm.js"></script>
    <script src="js/bootstrap.esm.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script2.js"></script>
    <script src="js/script2.js"></script>
  </head>
  <body>
  	<div class="contain">
  		<div class="position-absolute top-0 start-0">
  			<nav>
                <ul class="nav">
                	<li class="mt-2">web</li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Images |</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Maps |</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">News |</a>
                    </li>
                    <li class="nav-item">
                      <select class="mt-2">
                      	<option><a class="nav-link" href="#">more</a></option>
                      	<option><a class="nav-link" href="#">Actualités</a></option>
                      	<option><a class="nav-link" href="#">Sports</a></option>
                      	<option><a class="nav-link" href="#">Divertissements</a></option>
                      </select>
                    </li>
                </ul>
            </nav>
  		</div>	
  		<div class="fin">
  			<nav>
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" href="page.html">iBoogle |</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="login.html">Sign in</a>
                    </li>
                </ul>
            </nav>
  		</div>	
    <center>
  		<div class="row">
	  		<div class="position-absolute top-50 start-50 translate-middle">
	  			<div class="col-6">
	  				<div class="d-flex justify-content-center ">
		  				<h2>Boogle</h2>
					</div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username with two button addons">
					
						<p><a href="">
							<u>Advanced Search</u><br>
							<u>Preferences</u></a></a>
						</p>
					</div>
          <div class="d-grid gap-2 d-md-block mt-3">
            <button type="button" class="btn btn-outline-dark">Boogle Search</button>
            <button class="btn btn-outline-dark" type="button">I'm Feeling Lucky</button>
          </div>
				</div>
	  		
	  		</div>
    </center>
	  	<div class="position-absolute bottom-0 start-50 translate-middle-x">
	  		<footer class="bg-light-lg py-3" style="height: 150px;">
          <nav><ul>
	  			<p class="text-center">
		    		<li><a href=""><u>Advertissing Programs |</u></a></li>
            <li><a href=""><u>Business Solutions |</u></a></li>
		    		<li><a href=""><u>About Boogle</u></a></li>
		  		</p>
        </ul></nav>
		  		<p class="text-center">&copy; 2008 Boogle</p>
			</footer>
	  	</div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

  </body>
</html>
